.button {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}