.drill-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drill-select-button__button {
    margin: $s-size $m-size 0 $m-size;
    background: #7eb3e8;
    font-size: $l-size;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    padding:18px 34px;
    text-decoration:none;
    height: 100%;
}

.drill-select-button__button:hover {
    background: #7eb3d6;
}