.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0 ;
    font-style: italic;
}

.form__header {
    justify-content: center;
}

.sumbit_drill_role_container {
    border-top: 1px solid darkslategrey;
    margin-top: $m-size;
}

.submit_button {
    margin-top: $l-size;
    margin-bottom: $l-size;
    padding: $s-size $s-size $s-size $s-size;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.checkbox-label {
    margin-left: 1rem;
}