.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.settings-icon {
    color: white;
    margin-right: 1rem;
}